PORT=5000
MONGO_URI=mongodb://localhost:27017/livora
JWT_SECRET=livora_super_secret_jwt_key_2024
JWT_EXPIRES_IN=7d
NODE_ENV=development
AI_SERVICE_URL=http://localhost:8000
FRONTEND_URL=http://localhost:5173
